.main-uti{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 40px;
}
.ui-item{
    margin-left: 40px;
    width: 100%;
}
.ui-item img{
    width: 600px;
    height: 500px;
}